@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

$primary-color: #11263F;
$secondary-color: #43D39E;
$font-color-white: #fff;
$font-color-black: #1D1D1D;
$background-color: #ffffff;
$button-padding: 0.3rem .8rem;


/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: $background-color;
	line-height: 1.6;
	box-sizing: border-box;
	margin: 0;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 0
}

button {
  background-color: $secondary-color;
  border: none;
  color: $font-color-white;
  padding: .5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-end;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
		
}

button:hover {
	background-color: darken($secondary-color, 15%);

}

//tipografia global
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1rem;
}

h4,h5,h6 {
	font-size: .9rem;
}